@using MessageBoardWeb.Models;
@{
    ViewBag.Title = "Home Page";
    Dictionary<Message, User> messageList = ViewBag.messageList;
}

<div class="row">
        <h2>Getting started</h2>
        @Html.ActionLink("add new message", "MessageAdd", "Home", new { @class = "btn btn-default" })
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Title</th>
                <th>Content</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in messageList)
            {
                Message message = obj.Key;
                User user = obj.Value;
            <tr>
                <td white-space:pre>@user.UserName</td>
                <td white-space:pre>@message.MessageTitle</td>
                <td white-space:pre>@message.MessageContent</td>
                <td white-space:pre>@message.Time</td>
                <td>@Html.ActionLink("delete", "DeleteMessageDialog", "Home",new { @id = message.MessageId}, new { @class = "btn btn-default" })</td>
            </tr>
            }
        </tbody>
    </table>
      
</div>

